<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
<div id="navigation">
    <ul>
        <li><a href="/">Main Blog Page</a></li>
        <li><a href="/newpost">Add a Blog Entry</a></li>
    </ul>
</div>
<div>
    {% with messages = get_flashed_messages(with_categories = True) %}
        <ul>
        {% for category, message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}
</div>
<div>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>